body {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background: white;
}

.addr {
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.req,
.ts {
  background: lightgray;
}

.req,
.resp {
  font-family: monospace;
}
